[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StablePopulation"]
	path = StablePopulation
	url = https://github.com/cran/StablePopulation
